<! DOCTYPE >

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>movies</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
</head>
<h1>movies</h1>
    <body>
        <script src="" async defer></script>
        <ul>
            {% for movie in movies %}
                <li><a href={{movie.id}}>{{movie.title}}</a></li>
            {% endfor %}
            </ul>
            <a href='/movies/add'>Add a Movie</a>
    </body>

</html>